aclocal.m4
autom4te.cache/
config.log
configure
core
debian/files
debian/omphalos.debhelper.log
debian/omphalos.substvars
debian/omphalos/
ieee-oui.txt
ieee-oui.txt.raw
install-sh
missing
out
tags
tools/csumtest
tools/nl80211
usb.ids
