Source: omphalos
Section: net
Priority: optional
Maintainer: Nick Black <dankamongmen@gmail.com>
Build-Depends:
 arp-scan,
 autoconf-archive,
 ctags,
 debhelper (>= 12),
 debhelper-compat (= 12),
 docbook-xml,
 docbook-xsl,
 libbluetooth-dev,
 libcap-dev,
 libiw-dev,
 libncurses-dev (>= 6.1),
 libnl-3-dev,
 libnl-genl-3-dev,
 libnotcurses-dev (>= 1.2.2),
 libpcap-dev,
 libpci-dev,
 libpciaccess-dev,
 libreadline-dev,
 libsysfs-dev,
 libwww-perl,
 pkg-config,
 xsltproc,
Standards-Version: 4.5.0
Homepage: https://nick-black.com/dankwiki/index.php/Omphalos
Vcs-Git: git://github.com/dankamongmen/omphalos.git
Vcs-Browser: https://github.com/dankamongmen/omphalos/tree

Package: omphalos
Architecture: any
Depends:
 arp-scan,
 libcap2-bin,
 pciutils,
 wget,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Network enumeration and domination
 Omphalos is a tool for visualizing and controlling a local network (though it
 will also process pcap savefiles). Captured packets are analyzed to build a
 database of hosts and services. Various scans can be performed to elicit
 informative packets. Spoofing and redirection at several layers allows flows
 to be redirected through the host machine, or silenced. Omphalos is fully IPv6
 aware, and makes use of numerous service discovery protocols.
